
.hero {
    background-color: #1f2937;
    margin: auto; 
}

.top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo {
    height: auto;
    width: 170px;
    border-radius: 3px;
    padding-left: 300px;
    padding-top: 35px;
    border-radius: 20px;
}
#links {
    color: white;
    font-size: 22px;
}

.top-right {
    padding-left: 550px;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    padding: 90px 300px;
    gap: 100px;
    align-items: center;
    padding-top: 20px;
}

#wallpaper {
    height: auto;
    width: 600px;
}
#sign-button {
    background-color: #3882F6;
    color: #E5E7EB;
    height: 37px;
    width: 135px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 10px;
}
#hero-txt {
    color: #E5E7EB;
    font-size: 48px;
    font-weight: bolder
}
.socials, #secondarytxt {
    font-size: 18px;
    color: #E5E7EB;
}
#secondarytxt {
    font-style: italic;
    font-weight: lighter;
}
/*Info section*/

.info-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.images-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
    padding: 50px;
    margin-bottom: 40px;
}
#infopic {
    height: 240px;
    width: 240px;
    border: #3882F6 solid 3px;
    border-radius: 25px;
    object-fit:cover;
}

figcaption{
    height: auto;
    width: 230px;
    font-style: italic;
}
#info-text{
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    color: #1f2937;
    margin-top: 50px;
    font-style: italic;
    margin-bottom: auto;
}

/*qoute section*/

.qoute-section {
    background-color: #E5E7EB;
    margin: auto;
    padding: 200px 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#qoute {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
#author {
    font-size: 20px;
    align-items: right;
    justify-content: right;
    text-align: right;
    padding-right: 200px;
    font-weight: bold;
}

/*sign up section*/

#call-text {
    color: #E5E7EB;
    margin-bottom: 5px;
}
#call-para{
    color: #E5E7EB;
    font-size: 23px;
    margin-top: auto;
}
.sign-up {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    margin: 100px 300px;
    border-radius: 25px;
    gap: 100px;
}

#sign-up-button {
    
    background-color: #3882F6;
    color: #E5E7EB;
    height: 40px;
    width: 140px;
    font-size: 20px;
    border: solid 2px #E5E7EB;
    border-radius: 7px;
    margin-top: 85px;
}

.sign-up-text{
    color: #E5E7EB;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*FOOTER*/

footer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 20px;
}

#copyright-txt {
    color: #E5E7EB;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}